## User settings
xcuserdata/

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Logs and databases
*.log
*.sql
*.sqlite


# ignore all node_modules
node_modules/*

# ignore config file
config/config.env